{
    "modules": {
        "disco": true,
        "msgoffline": true,
        "ping": true,
        "register": true,
        "roster": true,
        "saslauth": true,
        "time": true,
        "vcard-temp": true
    },
    "ssl": {
        "certificate": "certificate/qjabberd.cert",
        "key": "certificate/qjabberd.key"
    },
    "virtualHost": [
        "sabc.chat",
        "enspy.chat",
        "localhost",
        "famille.chat"
    ]
}
