{
    "modules": {
        "disco": true,
        "msgoffline": true,
        "ping": true,
        "register": true,
        "roster": true,
        "saslauth": true,
		"nonsaslauth": true,
        "time": true,
        "vcard-temp": true,
		"private": true,
		"lastActivity": true,
		"offline": true,
		"si": true,
		"file-transfert": true,
		"ibb": true,
		"oob": true
    },
    "ssl": {
        "certificate": "certificate/qjabberd.crt",
        "key": "certificate/qjabberd.key"
    },
    "virtualHost": [
        "sabc.chat",
        "enspy.chat",
        "localhost",
        "famille.chat"
    ],
	"storageType": "PgSql",
	"MySql": {
		"host": "localhost",
		"port": 3306,
		"username": "root",
		"password": "Tara@20061992",
		"database": "qjabberd"
	},
	"PgSql": {
		"host": "localhost",
		"port": 3307,
		"username": "postgres",
		"password": "Tara@20061992",
		"database": "qjabberd"
	}
}
