{
    "modules": {
        "disco": true,
        "msgoffline": true,
        "ping": true,
        "register": true,
        "roster": true,
        "saslauth": true,
		"nonsaslauth": true,
        "time": true,
        "vcard-temp": true,
		"private": true,
		"privacy": true,
		"blockingcmd": true,
		"lastActivity": true,
		"offline": true,
		"si": false,
		"file-transfert": false,
		"ibb": false,
		"oob": false,
		"muc": true,
		"bytestreams": true,
		"pubsub": true,
		"bosh": true
    },
    "ssl": {
        "certificate": "certificate/qjabberd.crt",
        "key": "certificate/qjabberd.key"
    },
    "virtualHost": [
        "sabc.chat",
        "enspy.chat",
        "localhost",
        "famille.chat"
    ],
	"services": {
		"sabc.chat": [
			{
				"jid": "conference.sabc.chat",
				"category": "conference",
				"type": "text",
				"name": "SABC Conference Service"
			},
			{
				"jid": "stream.sabc.chat",
				"category": "proxy",
				"type": "bytestreams",
				"name": "SABC File Transfert Relay",
				"host": "127.0.0.1",
				"port": 7625
			},
			{
				"jid": "pubsub.sabc.chat",
				"category": "pubsub",
				"type": "service",
				"name": "SABC Publish/Subscribe Service"
			}
		], 
		"localhost": [
			{
				"jid": "conference.localhost",
				"category": "conference",
				"type": "text",
				"name": "Local Conference Service"
			}
		] 
	},
	"storageType": "MySql",
	"MySql": {
		"host": "localhost",
		"port": 3306,
		"username": "root",
		"password": "Tara@20061992",
		"database": "drupalx"
	},
	"PgSql": {
		"host": "localhost",
		"port": 3307,
		"username": "postgres",
		"password": "Tara@20061992",
		"database": "qjabberd"
	},
	"crossDomainBosh": true
}
